body {
	margin: 0;
	font-family: 'Crimson Text', serif;
	font-size: 16px;
}
h1, h2, h3 {
	font-family: 'Sedgwick Ave', cursive;
	line-height: 1.4em;
}
header, main, footer {
	width: 80%;
	margin: auto;
}
footer {
	font-size: 10px;

}